<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Dropdown -->
    <div class="dropdown">
        <button class="dropdown__button" aria-expanded="false" aria-controls="dropdown-content">Dropdown</button>

        <ul id="dropdown-content" class="dropdown__content" role="menu">
            <li role="menuitem">Dropdown content item 1</li>
            <li role="menuitem">Dropdown content item 2</li>
            <li role="menuitem">Dropdown content item 3</li>
            <li role="menuitem">Dropdown content item 4</li>
        </ul>
    </div>
</body>

</html>
