.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Used to hold appended inputs before submiting form by JS */
.form__hidden-appended-inputs-container {
    display: none;
}

/* Label */
.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label__text {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.label__required {
    color: var(--theme-danger-color);
}

/* Form Group */
.form-group__input-container {
    position: relative;
}

.form-group__error-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: none;
    font-size: 20px;
    color: var(--theme-danger-color);
}

.form-group--error .form-group__error-icon {
    display: inline-block;
}

.form-group__error-message:empty {
    display: none;
}

.form-group__error-message {
    margin: 8px 0 0;
    font-size: 12px;
    color: var(--theme-danger-color);
}

/* Input & Textarea */
.input,
.textarea,
.select {
    width: 100%;
    display: block;
    padding: var(--form-input-padding);
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
    color: var(--form-input-text-color);
    background-color: var(--form-input-background-color);
    border: var(--theme-border);
    border-radius: var(--theme-border-radius);
    transition: var(--theme-transition);
    outline: none;
}

.input::placeholder,
.textarea::placeholder {
    opacity: 0.7;
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: var(--theme-main-color);
}

.form-group--error .input:focus,
.form-group--error .textarea:focus,
.form-group--error .select:focus {
    box-shadow: 0 0 0 0.25rem rgba(230, 55, 87, .25);
}

.form-group--error .input {
    padding-right: 40px;
}

.form-group--error .input,
.form-group--error .textarea,
.form-group--error .select {
    border-color: var(--theme-danger-color);
}

/* File input */
.input[type="file"]::-webkit-file-upload-button,
.input[type="file"]::file-selector-button {
    display: none;
}

/* Checkbox */
.checkbox {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    font-size: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--theme-border);
    border-radius: 4px;
    appearance: none;
    print-color-adjust: exact;
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--theme-main-color);
    border-color: var(--theme-main-color);
    background-image: url(/img/form/checkbox-checked.svg);
}

.checkbox:focus {
    box-shadow: 0 0 0 0.25rem rgba(44, 123, 229, .25);
}

/* Selectize */
/* Single/multiple selectizes input */
.selectize-input {
    padding: var(--form-input-padding);
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
    color: var(--form-input-text-color);
    background-color: var(--form-input-background-color);
    border: var(--theme-border);
    border-radius: var(--theme-border-radius);
    transition: var(--theme-transition);
}

/* Single/multiple selectizes input text color while typing/searching */
.selectize-input>input {
    color: var(--theme-text-color);
}

/* Single selectize input on focus */
.single-selectize.selectize-control .selectize-input.input-active {
    background-color: var(--form-input-background-color);
    color: var(--form-input-text-color);
}

/* Single/multiple selectizes input on dropdown show */
.selectize-input.dropdown-active {
    border-radius: var(--theme-border-radius);
    border-color: var(--theme-main-color);
}

/* Single/multiple selectizes 1px height divider (between input & dropdown) on dropdown show */
.selectize-input.dropdown-active::before {
    background-color: var(--theme-lightest-text-color);
}

/* Single selectize selected input value (not dropdown item) */
.single-selectize .selectize-input .item {
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
    color: var(--form-input-text-color);
}

/* Single/multiple selectizes input select limit reached (1 item on single and max-limit items on multi) */
.selectize-input.full {
    background-color: var(--form-input-background-color);
}

/* Single/multiple selectizes dropdown */
.selectize-dropdown {
    font-size: 14px;
    line-height: 1.3;
    color: var(--theme-lighter-text-color);
    background-color: var(--theme-box-background-color);
    border: var(--theme-border);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-box-shadow);
}

/* Single/multiple selectizes dropdown options wrapper */
.selectize-dropdown-content::-webkit-scrollbar {
    width: 5px;
}

.selectize-dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

.selectize-dropdown-content::-webkit-scrollbar-thumb {
    background-color: var(--theme-scrollbar-color);
    outline: 1px solid var(--theme-scrollbar-color);
}

/* Single/multiple selectizes selected & hovered dropdown options */
.selectize-dropdown-content .option.selected,
.selectize-dropdown-content .option.active {
    color: var(--theme-text-color);
    background-color: var(--theme-body-background-color);
}

/* Single/multiple higlighted keyword of dropdown option */
.selectize-dropdown-content .option .highlight {
    background-color: var(--theme-main-color);
    color: var(--theme-button-text-color);
}

/* Multiple selectize selected options on input */
.multiple-selectize.selectize-control .selectize-input>.item {
    background: var(--theme-body-background-color);
    color: var(--theme-lighter-text-color);
}

/* Multiple selectize selected options focus on input */
.multiple-selectize.selectize-control .selectize-input>.item.active {
    background: var(--theme-body-background-color);
    color: var(--theme-text-color);
    font-weight: 500;
}

/* Multiple taggable selectize create option styles */
.multiple-selectize .selectize-dropdown-content div.create.active {
    background-color: transparent;
    color: var(--theme-lighter-text-color);
}

/* Highlight selectize inputs (used on request based selects while filtering etc) */
.single-selectize--highlight .selectize-input,
.multiple-selectize--highlight .selectize-input {
    border-color: var(--theme-main-color);
}
