body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-text-color);
    background-color: #EDF2F9;
}

:root {
    /* Layouts */
    --shrinked-body-max-width: 1680px;
    --header-height: 48px;
    --leftbar-width: 180px;
    --rightbar-width: 200px;
    --toolbar-height: 52px;
    --main-table-side-paddings: 24px;
    --main-table-pagination-height: 48px;

    /* Material symbols */
    --filled-material-symbols-font-variation: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;

    /* Theme different attributes */
    --theme-scrollbar-color: #ABABAB;
    --theme-transition: 0.3s ease;
    --theme-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

    /* Theme Colors */
    --theme-main-color: #2C7BE5;
    --theme-secondary-color: #F5803E;
    --theme-danger-color: #E63757;
    --theme-success-color: #00D27A;
    --theme-cancel-color: #748194;

    /* Theme Background colors */
    --theme-body-background-color: #EDF2F9;
    --theme-box-background-color: white;
    --theme-secondary-box-background-color: #f9fafd;
    --theme-text-background-color-on-hover: #d8e2ef;

    /* Theme Text colors */
    --theme-text-color: #344050;
    --theme-reversed-text-color: white;
    --theme-text-color-on-hover: #232e3c;
    --theme-light-text-color: #5e6e82;
    --theme-lightest-text-color: #9da9bb;
    --theme-button-text-color: white;

    /* Theme Borders */
    --theme-border: 1px solid var(--theme-border-color);
    --theme-border-color: #d8e2ef;
    --theme-border-radius: 6px;

    /* Theme Form components */
    --theme-checkbox-border-color: #b6c1d2;

    /* Theme table  */
    --theme-table-text-color: #475360;

    /* Theme Badges */
    --theme-yellow-badge-text-color: #66662c;
    --theme-yellow-badge-background: #FFFFCC;

    --theme-pink-badge-text-color: rgb(147, 35, 56);
    --theme-pink-badge-background: rgb(250, 215, 221);

    --theme-orange-badge-text-color: rgb(157, 82, 40);
    --theme-orange-badge-background: rgb(253, 230, 216);

    --theme-blue-badge-text-color: rgb(25, 120, 162);
    --theme-blue-badge-background: rgb(212, 242, 255);

    --theme-red-badge-text-color: rgb(255, 212, 220);
    --theme-red-badge-background: rgb(230, 55, 87);

    --theme-grey-badge-text-color: rgb(125, 137, 155);
    --theme-grey-badge-background: rgb(227, 230, 234);

    --theme-green-badge-text-color: rgb(0, 134, 78);
    --theme-green-badge-background: rgb(204, 246, 228);
}

body::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

body::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--theme-scrollbar-color);
    outline: 1px solid var(--theme-scrollbar-color);
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

b,
strong,
p b,
p strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

picture {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.material-symbols--filled {
    font-variation-settings: var(--filled-material-symbols-font-variation);
}

.styled-box {
    background-color: var(--theme-box-background-color);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-box-shadow);
}

/* ------------ Form ------------ */

/* ------------ /end Form ------------ */


/* ------------ Buttons ------------ */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 48px;
    color: var(--theme-button-text-color);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--theme-transition);
}

.button__icon {
    font-size: 22px;
}

.button__text {
    font-weight: 500;
}

.button__text:empty {
    display: none;
}

.button--rounded {
    border-radius: 50%;
}

.button--transparent {
    padding: 0;
    color: var(--theme-text-color);
    background-color: transparent;
    border: none;
}

.button--shadowed {
    color: var(--theme-light-text-color);
    border: var(--theme-border);
    background-color: var(--theme-box-background-color);

    &:hover {
        box-shadow: var(--theme-box-shadow);
    }
}

.button--main {
    background-color: var(--theme-main-color);

    &:hover {
        background-color: #2362b7;
    }
}

.button--danger {
    background-color: var(--theme-danger-color);

    &:hover {
        background-color: #c42f4a;
    }
}

.button--success {
    background-color: var(--theme-success-color);

    &:hover {
        background-color: #05b96d;
    }
}

.button--cancel {
    background-color: var(--theme-cancel-color);

    &:hover {
        background-color: #636e7e;
    }
}

/* ------------ /end Buttons ------------ */


/* ------------ Badges ------------ */
.badges-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.badge {
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}

.badge--yellow {
    color: var(--theme-yellow-badge-text-color);
    background-color: var(--theme-yellow-badge-background);
}

.badge--pink {
    color: var(--theme-pink-badge-text-color);
    background-color: var(--theme-pink-badge-background);
}

.badge--orange {
    color: var(--theme-orange-badge-text-color);
    background-color: var(--theme-orange-badge-background);
}

.badge--blue {
    color: var(--theme-blue-badge-text-color);
    background-color: var(--theme-blue-badge-background);
}

.badge--red {
    color: var(--theme-red-badge-text-color);
    background-color: var(--theme-red-badge-background);
}

.badge--grey {
    color: var(--theme-grey-badge-text-color);
    background-color: var(--theme-grey-badge-background);
}

.badge--green {
    color: var(--theme-green-badge-text-color);
    background-color: var(--theme-green-badge-background);
}

/* ------------ /end Badges ------------ */


/* ------------ Spinner ------------ */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: var(--theme-transition);
    opacity: 0;
    z-index: 10;
}

.spinner__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000063;
}

.spinner__img {
    width: 60px;
}

.spinner--visible {
    visibility: visible;
    opacity: 1;
}

/* ------------ /end Spinner ------------ */


/* ------------ Pagination ------------ */
.pagination-wrapper {
    height: var(--main-table-pagination-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--main-table-side-paddings);
    border-top: var(--theme-border);
}

/* Redirect to page */
.redirect-to-page-form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.redirect-to-page-form__label {
    color: var(--theme-lightest-text-color);
}

.redirect-to-page-form__input {
    width: 50px;
    padding: 4px;
}

.redirect-to-page-form__submit {
    padding: 6px 8px;
}

/* Pagination */
.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination__item {
    background: var(--theme-box-background-color);
}

.pagination__link {
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1;
    border: var(--theme-border);
    border-radius: var(--theme-border-radius);
    transition: var(--theme-transition);
}

.pagination__item:not(.pagination__item--disabled) .pagination__link:hover {
    box-shadow: var(--theme-box-shadow);
}

.pagination__link--active {
    color: var(--theme-main-color);
    border-color: var(--theme-main-color);
}

.pagination__link .material-symbols-outlined {
    color: var(--theme-lightest-text-color);
}

.pagination__dots {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 12px;
    padding: 0 4px;
}

/* ------------ /end Pagination ------------ */


/* ------------ Form ------------ */
.checkbox {
    border-color: var(--theme-checkbox-border-color);
}

/* ------------ /end Form ------------ */


/* ------------ Main layouts ------------ */
.body__inner {
    margin: auto;
    padding: 0 60px;
    transition: var(--theme-transition);
}

.body__inner--shrinked {
    max-width: var(--shrinked-body-max-width);
}

.main-wrapper {
    position: relative;
    display: flex;
    gap: 32px;
}

.main {
    /* .leftbar:width + 32px .main-wrapper:gap */
    margin-left: calc(var(--leftbar-width) + 32px);
    flex-grow: 1;
    overflow: auto;
}

/* ------------ /end Main layouts ------------ */


/* ------------ Header ------------ */
.header {
    height: var(--header-height);
}

.header__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrapper {
    position: fixed;
    width: var(--leftbar-width);
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
}

/* Leftbar toggler */
.header__leftbar-toggler {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--theme-transition);

    &:hover {
        background-color: var(--theme-text-background-color-on-hover);
    }
}

.header__logo-text {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.header__logo-text::first-letter {
    color: var(--theme-main-color);
    font-weight: 900;
}

.header__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

/* Profile dropdown */
.profile-dropdown__ava {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-dropdown .dropdown__content {
    min-width: 200px;
    right: 0;
    padding: 8px;
    border-radius: var(--theme-border-radius);
    box-shadow: #0a0a0a33 2px 2px 10px 0px;
}

.profile-dropdown__link,
.profile-dropdown__button {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--theme-light-text-color);
    transition: var(--theme-transition);
    background-color: transparent;
    border: none;
}

.profile-dropdown__link:hover,
.profile-dropdown__button:hover {
    background-color: var(--theme-body-background-color);
}

.profile-dropdown__link .material-symbols-outlined,
.profile-dropdown__button .material-symbols-outlined {
    font-size: 20px;
}

/* ------------ /end Header ------------ */


/* ------------ Leftbar ------------ */
.leftbar {
    position: fixed;
    height: calc(100vh - var(--header-height));
    width: var(--leftbar-width);
    overflow-y: auto;
}

.leftbar::-webkit-scrollbar {
    width: 4px;
}

.leftbar__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 8px;
}

.leftbar__section-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 600;
    color: var(--theme-lightest-text-color);
}

.leftbar__section-title::after {
    content: '';
    flex-grow: 1;
    border-top: 1px solid var(--theme-lightest-text-color);
    opacity: 0.5;
}

.leftbar__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Nav link & Form */
.leftbar__nav-link,
.leftbar__nav-form-button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
    font-weight: 500;
    color: var(--theme-light-text-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
    transition: var(--theme-transition);
}

.leftbar__nav-link-icon,
.leftbar__nav-form-button .material-symbols-outlined {
    font-size: 16px;
    font-variation-settings: var(--filled-material-symbols-font-variation);
}

.leftbar__nav-link--active {
    color: var(--theme-main-color);
}

.leftbar__nav-link:not(.leftbar__nav-link--active):hover,
.leftbar__nav-form-button:hover {
    color: var(--theme-text-color-on-hover);
}

.leftbar__nav-form {
    width: 100%;
}

/* Collapse */
.leftbar__collapse {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 28px;
}

.leftbar__collapse-button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 4px 0px;
    font-weight: 500;
    color: var(--theme-light-text-color);
    justify-content: flex-start;
    transition: var(--theme-transition);
}

.leftbar__collapse-button .collapse-button__decarative-icon {
    font-size: 16px;
    font-variation-settings: var(--filled-material-symbols-font-variation);
}

.leftbar__collapse-button:hover {
    color: var(--theme-text-color-on-hover);
}

.leftbar__collapse-button .collapse-button__text {
    margin-left: 12px;
    margin-right: auto;
}

.leftbar__collapse-link {
    padding: 4px 0;
    color: var(--theme-light-text-color);
    font-weight: 500;
    text-decoration: none;
    transition: var(--theme-transition);
}

.leftbar__collapse-link:not(.leftbar__collapse-link--active):hover {
    color: var(--theme-text-color-on-hover);
}

.leftbar__collapse .leftbar__collapse-link:first-child {
    margin-top: 4px;
}

.leftbar__collapse-link--active {
    color: var(--theme-main-color);
}

.leftbar__collapse-button .collapse-button__icon {
    color: var(--theme-lightest-text-color);
}

/* ------------ /end Leftbar ------------ */


/* ------------ Rightbar ------------ */
.rightbar {
    width: var(--rightbar-width);
    min-width: var(--rightbar-width);
    max-height: calc(100vh - var(--header-height));
    height: 100%;
    overflow-y: auto;
}

.rightbar::-webkit-scrollbar {
    width: 4px;
}

/* Filter */
.filter__header {
    height: var(--toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    border-bottom: var(--theme-border);
}

.filter__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.filter__reset {
    display: flex;
    text-decoration: none;
}

.filter-form {
    position: relative;
    padding: 20px;
}

.fiter-form__submit {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ------------ /END Rightbar ------------ */


/* ------------ Content ------------ */
.main-title {
    font-size: 20px;
    margin-bottom: 20px;
}

/* ------------ /end Content ------------ */


/* ------------ Table actions ------------ */
.toolbar {
    height: var(--toolbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--main-table-side-paddings);
    border-radius: var(--theme-border-radius) 0;
    background-color: var(--theme-box-background-color);
}

.toolbar__title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
}

.toolbar__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.toolbar__button {
    padding: 8px 20px;
}

.toolbar__button .button__icon {
    font-size: 18px;
}

/* ------------ /end Table actions ------------ */


/* ------------ Tables ------------ */
/* Main table */
.main-table-wrapper {
    max-height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--main-table-pagination-height));
    overflow: auto;
}

.main-table-wrapper--without-pagination {
    --main-table-pagination-height: 0px;
}

.main-table-wrapper+.pagination {
    height: var(--main-table-pagination-height);
}

.main-table {
    color: var(--theme-table-text-color);
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

/* Thead */
.main-table thead {
    position: sticky;
    top: 0;
    text-align: left;
    font-size: 14px;
    color: var(--theme-light-text-color);
    background-color: var(--theme-body-background-color);
    border-bottom: var(--theme-border);
}

.main-table th {
    vertical-align: middle;
    padding: 8px;
    font-weight: 400;
    word-break: break-word;
}

.main-table th:first-child {
    padding-left: var(--main-table-side-paddings);
}

.main-table th:last-child {
    padding-left: var(--main-table-side-paddings);
}

.main-table thead a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.main-table thead a.active {
    font-weight: 500;
    color: var(--theme-default-text-hover-color);
}

.main-table thead a .material-symbols-outlined {
    font-size: 14px;
}

.main-table .th__iconed-title {
    font-size: 22px;
}

.main-table .th__select-all {
    cursor: pointer;
    margin-left: -4px;
}

/* Body */
.main-table tbody {
    font-size: 14px;
    vertical-align: top;
    background-color: var(--theme-box-background-color);
}

.main-table tbody tr {
    border-bottom: var(--theme-border);

    &:hover {
        background-color: var(--theme-secondary-box-background-color)
    }
}

.main-table td {
    padding: 8px;
    word-break: break-word;
    justify-items: flex-start;
}

.main-table td:first-child {
    padding-left: var(--main-table-side-paddings);
}

.main-table td:last-child {
    padding-left: var(--main-table-side-paddings);
}

.main-table .td__view {
    color: var(--theme-light-text-color);
}

.main-table .td__edit {
    color: var(--theme-main-color);
}

.main-table .td__delete {
    color: var(--theme-danger-color);
}

.td__max-lines-limited-text {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.td__max-lines-limited-text--unlimited {
    line-clamp: auto;
    -webkit-line-clamp: auto;
}

/* ------------ /end Main table ------------ */
