/* ------------ Dropdown ------------ */
.dropdown {
    position: relative;
    z-index: 2;
}

.dropdown--arrowed .dropdown__button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown__content {
    position: absolute;
    z-index: 1;
    margin: 8px 0 0;
    background-color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown--active .dropdown__content {
    opacity: 1;
    visibility: visible;
}

/* ------------ /end Dropdown ------------ */


/* ------------ Collapse ------------ */
.collapse-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapse-button__text {
    margin: 0;
}

.collapse-button__icon {
    transition: transform 0.3s ease;
}

.collapse-button--active .collapse-button__icon {
    transform: rotate(180deg);
}

.collapse {
    overflow: hidden;
    transition: all 0.3s ease;
}

.collapse:not(.collapse--open) {
    height: 0px;
}

/* ------------ /end Collapse ------------ */


/* ------------ Accordion ------------ */
.accordion__content {
    overflow: hidden;
    transition: all 0.3s ease;
    height: 0px;
}

.accordion-item--open .accordion__content {
    height: auto;
}

.accordion__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-item--open .accordion__button-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* ------------ /end Accordion ------------ */


/* ------------ Modal ------------ */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: 0s;
}

.modal--visible {
    visibility: visible;
    z-index: 3;
}

.modal__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    background-color: #00000063;
}

.modal__box {
    min-width: 480px;
    max-width: 90vw;
    transform: translateY(-50px);
    transition: 0.3s;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 8px 0px #102a4e17;
}

.modal--visible .modal__box {
    opacity: 1;
    transform: translateY(0);
}

.modal__header {
    display: flex;
    gap: 20px;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f9fafd;
}

.modal__title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.modal__body {
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px 0;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 20px;
}

/* ------------ /END Modal ------------ */


/* ------------ Spinner ------------ */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    z-index: 10;
}

.spinner__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000063;
}

.spinner__img {
    width: 60px;
}

.spinner--visible {
    visibility: visible;
    opacity: 1;
}

/* ------------ /end Spinner ------------ */
