/* ------------ Home ------------ */
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.intro__logo {
    width: 160px;
    margin: 40px 0;
}

.intro__title {
    max-width: 320px;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.intro__subtitle {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.intro__desc {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

/* ------------ /end Home ------------ */


/* ------------ Knowledge pages ------------ */
.knowledge-index .about-page__desc {
    max-width: 540px;
}

.knowledge-blocks__categories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 36px 0;
}

.knowledge-blocks__category {
    padding: 24px 28px;
    background-color: white;
    border-radius: 16px;
}

.knowledge-blocks__category-title {
    margin-bottom: 10px;
}

.knowledge-blocks__subcategories-nav {
    column-count: 3;
}

.knowledge-blocks__subcategories-link {
    width: max-content;
    display: flex;
    line-height: 1.8;
    color: var(--main-color);
}
/* ------------ /end Knowledge pages ------------ */


/* ------------ Vocabulary pages ------------ */
.vocabulary-index__about .local-search__input {
    width: 100%;
}

.vocabulary-index__about {
    margin-bottom: 20px;
}
/* ------------ /end Vocabulary pages ------------ */
