/* ------------ Home ------------ */
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.intro__logo {
    width: 160px;
    margin: 40px 0;
}

.intro__title {
    max-width: 320px;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.intro__subtitle {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
}

.intro__desc {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

/* ------------ /end Home ------------ */


/* ------------ Knowledge pages ------------ */
.knowledge-index .about-page__desc {
    max-width: 540px;
}

.knowledge-blocks__categories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.knowledge-blocks__category {
    padding: 24px 28px;
    background-color: white;
    border-radius: 16px;
}

.knowledge-blocks__category-title {
    margin-bottom: 10px;
}

.knowledge-blocks__subcategories-nav {
    column-count: 3;
}

.knowledge-blocks__subcategories-link {
    width: max-content;
    display: flex;
    line-height: 1.8;
    color: var(--main-color);
}
/* ------------ /end Knowledge pages ------------ */


/* ------------ Vocabulary pages ------------ */
.vocabulary-index__about .local-search__input {
    width: 100%;
}
/* ------------ /end Vocabulary pages ------------ */


/* ------------ Author pages ------------ */
.authors-show__card-wrapper {
    margin-bottom: 20px;
}
/* ------------ /end Author pages ------------ */


/* ------------ Contact page ------------ */
.contacts__row {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.contacts__desc {
    font-size: 16px;
    margin-bottom: 32px;
}

.contacts__email {
    font-size: 18px;
}

.contacts__email-title {
    margin-bottom: 0;
}

/* Feedback form */
.feedback {
    min-width: 480px;
    max-width: 100%;
}

.feedback-form {
    width: 100%;
    padding: 32px 40px;
    background-color: white;
    border-radius: 8px;
}

.feedback-form__submit {
    margin-top: 20px;
}
/* ------------ /end Contect page ------------ */


/* ------------ Privacy policy & Terms of use pages ------------ */
.privacy-policy .styled-text-box a,
.terms-of-use .styled-text-box a {
    color: var(--accent-color);
}

.privacy-policy .styled-text-box h4,
.terms-of-use .styled-text-box h4 {
    font-size: 16px;
}
/* ------------ /end Privacy policy & Terms of use pages ------------ */


/* ------------ Profile edit page ------------ */
.profile-edit .main-wrapper {
    align-items: normal;
}

.profile-edit__password-update {
    margin-top: 20px;
}

.profile-edit__form-submit {
    align-self: flex-start;
    margin-top: 4px;
}
/* ------------ /end Profile edit page ------------ */


/* ------------ Likes page ------------ */
.likes-index .main-wrapper {
    align-items: normal;
}
/* ------------ /end Likes page ------------ */


/* ------------ Favorite pages ------------ */
.favorites-index .main-wrapper {
    align-items: normal;
}

.create-folder__form-submit {
    align-self: flex-start;
    margin-top: 4px;
}

.manage-folders {
    margin-top: 20px;
}
/* ------------ /end Favorite page ------------ */


/* ------------ Folder pages ------------ */
.folders-show .main-wrapper {
    align-items: normal;
}
/* ------------ /end Folder page ------------ */

