body {
    position: relative;
    /* PUSH FOOTER TO THE BOTTOM */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: #EEEEEE;
}

:root {
    --main-color: #04718C;
    --accent-color: #0645AD;
    --text-color: #000000DE;

    --theme-border-radius: 8px;

    --filled-material-symbols-font-variation: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;

    --default-card-collapsed-text-max-height: 316px;
}

body::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
    width: 7px
}

body::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ABABAB;
    outline: 1px solid #ABABAB;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

b,
strong,
p b,
p strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

picture {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    display: flex;
}

.material-symbols--filled {
    font-variation-settings: var(--filled-material-symbols-font-variation);
}

.main-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}


/* ------------ Buttons ------------ */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 48px;
    color: var(--text-color);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.button__icon {
    font-size: 22px;
}

.button__text {
    font-weight: 500;
}

.button__text:empty {
    display: none;
}

.button--main {
    background-color: var(--main-color);
    color: white;
}

.button--transparent {
    padding: 0;
    border: none;
    background-color: transparent;
}

/* ------------ /end Buttons ------------ */


/* ------------ Spinner ------------ */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    z-index: 10;
}

.spinner__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000063;
}

.spinner__img {
    width: 60px;
}

.spinner--visible {
    visibility: visible;
    opacity: 1;
}

/* ------------ /end Spinner ------------ */


/* ------------ Header ------------ */
.header {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

.header__inner {
    max-width: 1420px;
    display: flex;
    gap: 32px;
    align-items: flex-end;
    padding: 16px 40px;
}

.header__logo .logo__image {
    width: 72px;
}

.header__navbar {
    display: flex;
    gap: 16px;
}

.header__navbar .navbar_link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header__navbar .navbar_link:hover {
    color: #A4C2FF;
}

/* Only mobile visible */
.header__navbar .navbar_link:first-child {
    display: none;
}

/* Only mobile visible */
.header__navbar .navbar_link span {
    display: none;
}

.header__login-btn {
    padding: 6px 20px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    color: var(--main-color);
    background-color: white;
}

/* Profile dropdown */
.profile-dropdown .dropdown__button {
    color: white;
}

.profile-dropdown__ava {
    width: 40px;
    border-radius: 50%;
}

.profile-dropdown .dropdown__content {
    min-width: 200px;
    max-width: 260px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.profile-dropdown__link,
.profile-dropdown__button {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 600;
    min-height: 36px;
    padding: 0 16px;
    color: #1094b5;
    transition: 0.3s;
    background-color: transparent;
    border: none;
}

.profile-dropdown__link:hover,
.profile-dropdown__button:hover {
    background-color: #F6F6F6;
}

.profile-dropdown__link .material-symbols-outlined,
.profile-dropdown__button .material-symbols-outlined {
    color: var(--text-color);
}

.profile-dropdown__form {
    width: 100%;
}

/* ------------ /end Header ------------ */


/* ------------ Footer ------------ */
.footer {
    background-color: var(--main-color);
    color: white;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 20px;
}

.footer__logo .logo__image {
    width: 88px;
}

.footer__nav {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    padding: 24px 0;
    border-bottom: 2px solid #fafafa;
}

.footer__nav-link {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.footer__nav-link:hover {
    color: #A4C2FF;
}

.footer__copyright {
    margin-bottom: 20px;
}

.footer__socials {
    display: flex;
    gap: 12px;
}

.footer__socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #348ba6;
}

.footer__socials-image {
    width: 32px;
}

/* ------------ /end Footer ------------ */


/* ------------ Scroll Buttons ------------ */
.scroll-buttons {
    position: fixed;
    bottom: 40px;
    right: 160px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.scroll-buttons--visible {
    opacity: 1;
    visibility: visible;
}

.scroll-buttons button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

/* ------------ /end Scroll Buttons ------------ */


/* ------------ Main Wrapper ------------ */
.main-wrapper {
    max-width: 1400px;
    width: 100%;
    display: flex;
    /* PUSH FOOTER TO THE BOTTOM */
    flex-grow: 1;
    gap: 24px;
    align-items: flex-start;
    margin: 0 auto;
    padding: 28px 40px 20px;
}

/* ------------ /end Main Wrapper ------------ */


/* ------------ Main ------------ */
.main {
    flex-grow: 1;
}

/* ------------ /end Main ------------ */


/* ------------ Leftbar ------------ */
.leftbar {
    width: 280px;
    min-width: 280px;
}

.leftbar__title {
    margin-bottom: 16px;
}

.leftbar__body {
    padding: 20px 0;
    font-size: 15px;
    background-color: white;
    border-radius: var(--theme-border-radius);
}

.leftbar__subtitle {
    padding: 0 24px 12px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #e3e3e3;
    /* Pull top for center alignmnent (.leftbar__body:pading-top - self:padding-bottom */
    margin: -8px 0 0;
}

.leftbar__nav {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.leftbar__nav--limited-height {
    max-height: 1120px;
    overflow-y: auto;
}

.leftbar__nav::-webkit-scrollbar {
    width: 4px
}

.leftbar__nav-link {
    display: flex;
    line-height: 1.2;
    transition: 0.3s;
}

.leftbar__nav-title {
    display: flex;
    line-height: 1.2;
    margin-top: 12px;
}

.leftbar__nav-title--marginless {
    margin-top: 0;
}

.leftbar__nav-link:hover {
    color: var(--main-color);
}

/* Leftbar local search */
.leftbar .local-search {
    padding: 16px 24px;
}

.leftbar .local-search__input {
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    outline: none;
    transition: 0.3s;
}

.leftbar .local-search__button {
    display: none;
}

/* Home leftbar */
.home-leftbar__accordions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 24px;
}

.home-leftbar .accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.home-leftbar .accordion__button {
    padding: 0;
    line-height: 1.2;
    border: none;
    background-color: transparent;
}

.home-leftbar .accordion__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--main-color);
}

.home-leftbar .accordion__content a:first-child {
    margin-top: 4px;
}

/* ------------ /end Leftbar ------------ */


/* ------------ Rightbar ------------ */
.rightbar {
    width: 280px;
    min-width: 280px;
}

.rightbar__title {
    margin-bottom: 16px;
}

.rightbar__body {
    border-radius: var(--theme-border-radius);
    background-color: white;
    padding: 20px 24px 12px;
}

.rightbar__item-title {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.rightbar__more {
    display: flex;
    justify-content: flex-end;
}

.rightbar__more-link {
    display: flex;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.rightbar__more-link:hover {
    background-color: #F4F4F4;
}

.rightbar__quote-header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-between;
}

.rightbar__quote-author {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

/* Quote */
.rightbar__quote-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.rightbar__quote-body {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

/* Term */
.rightbar__term-body a {
    color: var(--accent-color);
}

.rightbar__term-body {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

/* Video */
.rightbar__video .videos-card__thumb {
    width: 100%;
    margin-bottom: 12px;
}

/* ------------ /end Rightbar ------------ */


/* ------------ Pagination ------------ */
.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0px;
    padding-left: 0;
    list-style: none;
}

.pagination__item {
    border-radius: 4px;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: 0.3s;
}

.pagination__link {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    color: var(--text-color);
}

.pagination__link--active {
    color: #fff;
    background-color: var(--main-color);
}

.pagination__link span {
    color: #a7a7a7de;
}

.pagination__dots {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 12px;
    padding: 0 4px;
}

/* ------------ /end Pagination ------------ */


/* ------------ Local search ------------ */
.local-search {
    display: flex;
}

.local-search__input {
    max-width: 100%;
    width: 420px;
    padding: 12px;
    border: 2px solid #9B9B9B;
    border-right: 0;
    border-radius: 8px 0 0 8px;
    background-color: transparent;
    outline: none;
}

.local-search__button {
    padding: 4px 16px;
    border-radius: 0 8px 8px 0;
}

/* ------------ /end Local search ------------ */


/* ------------ About page ------------ */
.about-page__title {
    margin-bottom: 20px;
}


/* ------------ /end About page ------------ */


/* ------------ Lists ------------ */
.default-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Vocabulary lists */
.vocabulary-list {
    flex-direction: row;
}

.vocabulary-list__part {
    width: calc(50% - 12px);
    background-color: white;
    border-radius: 8px;
    padding: 20px 24px;
}

.vocabulary-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vocabulary-list__link {
    line-height: 1.6;
    display: flex;
}

.vocabulary-list__popup {
    position: absolute;
    display: none;
    overflow: hidden;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
    padding: 16px;
    background-color: white;
    box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
    top: 20px;
    z-index: 1;
    width: 296px;
    transition: opacity 0.3s, visibility 0s, display 0s;
    opacity: 1;
    visibility: visible;
}

.vocabulary-list__popup:empty {
    opacity: 0;
    visibility: hidden;
}

.vocabulary-list__item:hover .vocabulary-list__popup,
.vocabulary-list__item:focus-within .vocabulary-list__popup {
    display: block;
}

.vocabulary-list__popup a {
    color: var(--accent-color);
}

.vocabulary-list__popup-inner {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
}

/* Authors lists */
.authors-list {
    flex-direction: row;
}

.authors-list__part {
    width: calc(33.3% - 16px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
    background-color: white;
    border-radius: 8px;
}

.authors-list__link {
    line-height: 1.6;
    display: flex;

    &:hover {
        color: var(--main-color);
    }
}

/* ------------ /end Lists ------------ */


/* ------------ Cards ------------ */
/* Default template */
.default-card {
    background-color: white;
    border-radius: 8px;
}

.default-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
}

.default-card__header {
    color: #9e9e9e;
}

.default-card__body {
    position: relative;
}

.default-card__body-text a {
    color: var(--accent-color);
}

.default-card__body-text {
    overflow: hidden;
    transition: 0.3s;
}

.default-card__body-text:not(.default-card__body-text--expanded) {
    max-height: var(--default-card-collapsed-text-max-height);
}

.default-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px 8px;
    border-top: 1px solid #eee;
}

.default-card__foter-left {
    display: flex;
    gap: 16px;
    align-items: center;
}

.default-card__foter-left a {
    display: flex;
}

/* Expand more */
.expand-more {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 12px;
}

.expand-more::before {
    position: absolute;
    top: -120px;
    left: 0;
    content: '';
    height: 120px;
    width: 100%;
    background-image: linear-gradient(180deg, #ffffff00 0, #fff 96%, #fff);
    pointer-events: none;
    transition: 0.3s;
    opacity: 1;
}

.expand-more__button {
    font-size: 12px;
    font-style: italic;
    color: #646464;
    border: none;
    background-color: transparent;
}

.expand-more--expanded::before {
    opacity: 0;
}

.expand-more__collapse-text {
    display: none;
}

.expand-more--expanded .expand-more__collapse-text {
    display: inline;
}

.expand-more--expanded .expand-more__expand-text {
    display: none;
}

/* Categories */
.default-card__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 16px;
    margin-top: 4px;
    font-style: italic;
    font-size: 13px;
}

/* Like  */
.like-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.like-container__icon {
    color: #cdcdcd;
    display: flex;
}

.like-container__icon--liked {
    color: red;
}

.like-container__counter {
    margin: 0;
    font-family: sans-serif;
}

/* Favorite */
.favorite-dropdown__icon {
    color: #cdcdcd;
    display: flex;
}

.favorite-dropdown__icon--favorited {
    color: var(--main-color);
}

.favorite-dropdown .dropdown__content {
    width: 180px;
}

.favorite-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
}

.favorite-form__title {
    font-weight: 600;
    margin: 0;
}

.favorite-form__folder {
    position: relative;
}

.favorite-form__folder-childs {
    position: absolute;
    width: 180px;
    top: -4px;
    left: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 4px;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.favorite-form__folder:hover .favorite-form__folder-childs {
    opacity: 1;
    visibility: visible;
}

.favorite-form__folder-childs-title {
    margin: 0;
    font-weight: 600;
}

.favorite-form__label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.favorite-form__label:hover {
    background-color: #F6F6F6;
}

.favorite-form__submit {
    padding: 6px;
    margin-top: 8px;
}

/* Yandex share */
.ya-share2__link.ya-share2__link_more {
    background-color: transparent !important;
    padding: 2px 0 !important;
}

.ya-share2__icon_more {
    background-image: none !important;
}

.ya-share2__icon_more::after {
    content: "\e80d";
    color: #cdcdcd;
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variation-settings: var(--filled-material-symbols-font-variation);
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Terms */
.terms-card__type-name {
    margin-bottom: 0;
}

.terms-card__type-icons-wrapper {
    display: flex;
    color: #00d0ff;
}

.terms-card__type-icon {
    width: 18px;
}

.terms-card .default-card__body {
    padding: 8px 16px 16px;
}

/* Subterms popup */
.terms-card__popup {
    position: absolute;
    left: 16px;
    right: 16px;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s, top 0s;
    z-index: 3;
}

.terms-card__popup--visible {
    visibility: visible;
    opacity: 1;
}

.terms-card__popup-inner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    line-clamp: 14;
    -webkit-box-orient: vertical;
}

/* Quotes */
.quotes-card__title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.quotes-card__title-icon {
    color: #9e9e9e;
    font-size: 22px;
}

.quotes-card__title-author-name {
    margin: 0;
    font-weight: 500;
    color: var(--main-color);
}

.quotes-card .default-card__body {
    padding: 8px 16px 16px;
}

/* Author cards */
.authors-card {
    display: flex;
    gap: 28px;
    align-items: flex-start;
}

.authors-card__image {
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.authors-card__title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}

.authors-card__biography {
    font-size: 16px;
}

.authors-card__biography p {
    margin: 0;
}

/* Video */
.videos-card__thumb {
    position: relative;
    display: flex;
    width: 50%;
}

.videos-card__thumb-image {
    padding: 4px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #f8fafc;
    cursor: pointer;
    width: 100%;
}

.videos-card__thumb-duration {
    position: absolute;
    right: 12px;
    bottom: 10px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 10%;
    pointer-events: none;
}

/* ------------ /end Cards ------------ */
