/* Material Symbols */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* ------------ Dropdown ------------ */
.dropdown {
    position: relative;
    z-index: 2;
}

.dropdown--arrowed .dropdown__button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown__content {
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    background-color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown--active .dropdown__content {
    opacity: 1;
    visibility: visible;
}

/* ------------ /end Dropdown ------------ */


/* ------------ Collapse ------------ */
.collapse {
    overflow: hidden;
    transition: all 0.3s ease;
}

.collapse:not(.collapse--open) {
    height: 0px;
}

/* ------------ /end Collapse ------------ */


/* ------------ Accordion ------------ */
.accordion__content {
    overflow: hidden;
    transition: all 0.3s ease;
    height: 0px;
}

.accordion-item--open .accordion__content {
    height: auto;
}

.accordion__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-item--open .accordion__button-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* ------------ /end Accordion ------------ */
